
body {
background: #f8f2e8;
background-image: url("pexels-photo-918642.jpeg");
color: rgb(3, 3, 24);
}


a {
  color: black;
  font-weight: bold;
}




.container {
  border: 3px solid #ffda85;
  max-width: 75%;
  border-radius: 10px;
  background: #68807973;
  padding-top: 30px;
  padding-bottom: 0;
  display: block;
  margin: 50px auto 10px auto;
}

form {
  margin: 20px 10px 0px 30px;
  display: inline;
}

.city {
  padding: 20px 260px 20px 10px;
  margin-right: 10px;
  border: 4px solid #ffda85;
  background:#8ba4a796;
  font-weight: bold;
  
}

.city:hover {
  background:#657678b0;
}

.searchButton {
  padding: 20px 40px 20px 40px;
  margin-right: 10px;
  border-radius: 50px;
  border: 4px solid #ffda85;
  text-align: center;
  background: #657678b0;
  font-weight: bold;
}

.searchButton:hover {
  cursor: pointer;
  background: #8ba4a796;
}

.currentLocationButton {
  display: inline;
  padding: 20px 40px 20px 40px;
  border-radius: 50px;
  border: 4px solid #ffda85;
  text-align: center;
  background:#657678b0;
  font-weight: bold;
}
.currentLocationButton:hover {
  cursor: pointer;
  background:#8ba4a796;
}

.currentWeather {
  border: 3px dotted #ffda85;
  border-radius: 10px;
  margin-left: 40px;
  margin-top: 30px;
}

#weatherIcon {
  position: relative;
  top: -10px;
  left: -70px;
  width: 210px;
}
.niceDay {
  position: relative;
  top: 50px;
  right: -30px;
  border: none;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 0px;
  background: #657678b0;
  box-shadow: 20px 0 20px rgba(0, 0, 0, 0.4);
}

.days {
  margin-top: 65px;
  margin-left: 20px;
  margin-bottom: 0;
}


.fiveDays {
  border: none;
  text-align: center;
  padding: 20px 0px 20px 0px;
  background: #657678b0;
  box-shadow: 20px 0 20px rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  
}

.bird {
  position: relative;
right: -800px;
top: -80px;
  
}

.active {
  cursor: default;
  text-decoration:none;
  color: black;
}

.active:hover {
  color: black;
}

footer {
 margin: 20px 160px;
}

#description {
  text-transform: capitalize;
}

